{% extends 'base.html' %}

{% block content %}
    <p>{{ movies|length }} Titles</p>
    {% if current_user.is_authenticated %}
        <form method="post" style="text-align: center;">
            Name <input autocomplete="off" name="title" required type="text">
            Year <input autocomplete="off" name="year" required type="text">
            <input class="btn" name="submit" type="submit" value="Add">
        </form>
    {% endif %}
    <!--<p>Watchlist:</p>-->
    <ul class="movie-list">
        {% for movie in movies %}
            <li>{{ movie.title }} - {{ movie.year }}
                <span class="float-right">
            {% if current_user.is_authenticated %}
                <a class="btn" href="{{ url_for('edit', movie_id=movie.id) }}">Edit</a>
                <form action="{{ url_for('delete', movie_id=movie.id) }}" class="inline-form" method="post">
                <input class="btn" name="delete" onclick="return confirm('Delete it?')" type="submit" value="Delete">
            </form>
            {% endif %}
                    <a class="imdb" href="https://www.imdb.com/find?q={{ movie.title }}" target="_blank"
                       title="Find this movie on IMDb">IMDB</a>
        </span>
            </li>
        {% endfor %}
    </ul>
    <img alt="Walking Totoro" class="totoro" src="{{ url_for('static', filename='images/totoro.gif') }}"
         title="to~to~to~">
{% endblock %}

